<!doctype html>
<html ng-app="LearningApp">

<head>
    <title>Linguagens de Programação</title>
    <meta charset="utf-8" />
    <link href="resources/bootstrap.min.css" rel="stylesheet" />
    <link href="core/linguagens.css" rel="stylesheet" />
</head>

<body ng-controller="mainController">
    <div class="container">
        <h1>{{title}}</h1>
        <uib-accordion close-others="true">
            <uib-accordion-group heading="Condicional Simples">
            <p>If representa um desvio no programa quando uma condição é satisfeita. Apresenta o seguinte formato:</p>
<pre>
instrução

if(condição)
{
  instrução
}

instrução
</pre>
            <p>No exemplo abaixo, a função executarCódigo() sempre é executada.</p>
<div ng-controller="simpleConditionController">
  <pre>
  int x = <input type="text" size="3" ng-model="varx" ng-change="check();" />;

  if(x == 5) {
    <span class="{{result}}">executarCodigo();</span>
  }
  </pre>
</div>
            </uib-accordion-group>
            <uib-accordion-group heading="Else">
            <p>Uma instrução else sempre é acompanhada de uma instrução if. Quando a condição do bloco if não é satisfeita, são executadas as instruções do bloco else. Apresenta o seguinte formato:</p>
<pre>
instrução

if(condição)
{
    instrução
}
else
{
    instrução
}

instrução
</pre>
             <p>No exemplo abaixo, a função executarOutroCódigo() é executada, pois a condição do bloco if não é satisfeita.</p>
<div ng-controller="elseConditionController">
<pre>
int x = <input type="text" size="3" ng-model="varx" ng-change="check();">;

if(x > 5) {
    <span class="{{result.success}}">executarCodigo();</span>
}
else
{
    <span class="{{result.fail}}">executarOutroCodigo();</span>
}
</pre>
</div>
                <p>If representa um desvio no programa quando uma condição é satisfeita. Apresenta o seguinte formato:</p>
                <pre>
                    instrução if(condição) { instrução } instrução
                </pre>
                <p>No exemplo abaixo, a função executarCódigo() sempre é executada.</p>
                <div ng-controller="simpleConditionController">
                    <pre>
                        int x = <input type="text" size="3" ng-model="varx" ng-change="check();" />; if(x == 5) {
                        <span class="{{result}}">executarCodigo();</span> }
                    </pre>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>

    <!-- vendors:js -->
    <script src="resources/angular.min.js"></script>
    <script src="resources/angular-animate.min.js"></script>
    <script src="resources/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <!-- endinject -->

    <!-- app:js -->
    <script src="core/app.js"></script>
    <script src="core/main.js"></script>
    <script src="core/simpleConditionController.js"></script>
    <script src="core/elsecondition.js"></script>
    <!-- endinject -->
</body>

</html>